@media (max-width: 991px) {
	.promo {
		padding: 21px 16px 93px 16px;
		&__header {
			font-size: 38px;
			line-height: 38px;
		}
		&__subheader {
			font-size: 22px;
			line-height: 22px;
		}
		&__icon {
			font-size: 13px;
		}
	}
	.button {
		&_main {
			width: 270px;
			height: 45px;
			font-size: 15px;
		}
	}
	.title {
		font-size: 28px;
	}
	.advantages {
		padding: 70px 12px 80px 12px;
	}
}
@media (max-width: 770px) {
	.header {
		&__logo {
			width: 200px;
		}
		&__official span {
			font-size: 17px;
		}
		&__phone {
			font-size: 15px;
		}
	}
	.button {
		width: 126px;
		height: 25px;
		font-size: 11px;
		&_main {
			width: 204px;
			height: 37px;
			font-size: 13px;
		}
	}
	.promo {
		min-height: 600px;
		padding: 23px 15px 90px 15px;
		&__wrapper {
			margin-top: 135px;
		}
		&__header {
			font-size: 35px;
			line-height: 35px;
		}
		&__subheader {
			font-size: 20px;
			line-height: 20px;
		}
		&__icons {
			margin-top: 75px;
    		width: 400px;
		}
		&__icon {
			font-size: 12px;
			width: 102px;
		}
		&__link {
			font-size: 14px;
    		margin-top: 12px;
		}
	}
	.title {
		font-size: 25px;
	}
	.advantages {
		padding: 70px 8px 80px 8px;
		&__wrapper {
			flex-wrap: wrap;
			justify-content: center;
		}
		&__item {
			width: 100%;
			margin: 12px 10px;
		}
		&__subtitle {
			margin-top: 21px;
		}
		&__descr {
			margin-top: 23px;
		}
	}
}
@media (max-width: 575px) {
	.header {
		&__official {
			display: none;
		}
	}
	.promo {
		&__header {
			font-size: 28px;
			line-height: 28px;
			text-align: center;
		}
		&__subheader {
			font-size: 15px;
			line-height: 15px;
			margin-top: 10px;
			text-align: center;
		}
		&__icons {
			max-width: 345px;
		}
		&__icon img {
			margin-bottom: 15px;
		}
	}
	.title {
		font-size: 23px;
	}
}
@media (max-width: 370px) {
	.header {
		flex-wrap: wrap;
		&__contacts {
			margin-top: 20px;
		}
	}
	.promo {
		&__header {
			line-height: 35px;
		}
		&__subheader {
			line-height: 18px;
		}
		&__icons {
			max-width: 300px;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
		}
		&__icon {
			width: 100%;
			margin-bottom: 20px;
			font-size: 14px;
		}
	}


}

